<ion-view title="Alterar senha" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <form id="alterarSenha-form3" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="alterarSenha-list3">
        <label class="item item-input" id="alterarSenha-input7">
          <input placeholder="Senha antiga" type="password">
        </label>
        <label class="item item-input" id="alterarSenha-input9">
          <input placeholder="Nova senha" type="password">
        </label>
        <label class="item item-input" id="alterarSenha-input8">
          <input placeholder="Confirmar nova senha" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="login" id="alterarSenha-button7" class="button button-balanced  button-block">Salvar</a>
    </form>
  </ion-content>
</ion-view>