<ion-view title="Configurações">
    <ion-content id="pageconfig" style="background-color: #D4E7FF;">


        <ion-item style="background-color: #F1F5FF;">            
            <p>
                <h2 class="profile-name">{{user.name}}</h2>
            </p>
            
                <h2>{{user.email}}</h2>
            
        </ion-item>







        <a ui-sref="alterarSenha" id="menu-button6" class="button button-dark  button-block button-clear" data-componentid="button6" style="background-color: #FFFFFF;">Alterar senha</a>
        <div ng-show="show">
            <a ui-sref="gerenciarFuncionario" id="menu-button15" class="button button-dark  button-block button-clear" data-componentid="button6" style="background-color: #FFFFFF;">Gerenciar funcionário(s)</a>
        </div>
        <a id="menu-button3" class="button button-assertive  button-block button-clear" ng-click="logout()" data-componentid="button3" style="background-color: #FFFFFF;">Sair</a>
    </ion-content>
</ion-view>