<ion-view  id="page5">
  <ion-content padding="true" scroll="true" class="has-header">
    <form id="entrar-form1" class="list">
      <div class="spacer" style="width: 283px; height: 70px;"></div>
      <div>
        <img src="img/PR1VRlBSHC1dh7wbHl06_14M2VlLSci2dugpoaiOQ_Logo-treecut.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 283px; height: 29px;"></div>
      <ion-list id="entrar-list1">
        <label class="item item-input" id="entrar-input1">
          <input placeholder="E-mail" type="email">
        </label>
        <label class="item item-input" id="entrar-input2">
          <input placeholder="Senha" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 283px; height: 20px;"></div>
      <a ui-sref="tabsController.camera" id="entrar-button1" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block">Entrar</a>
      <a ui-sref="cadastrar" id="entrar-button2" class="button button-positive  button-block button-clear">Cadastrar-se</a>
    </form>
  </ion-content>
</ion-view>