<ion-view view-title="Localização" id="page3">
  <ion-content scroll="false" padding="true">
     <map on-create="mapCreated(map)"></map>

      <div class="spacer" style="height: 5px;"></div>
     
     

     <div>
       
        <label class="item item-input" id="login-input1">
          <input placeholder="Endereço..." ng-disabled="true" type="text">

           </input>
        </label>
     </div>
     

      <div>
        <a class="button button-positive button-block icon-left ion-android-pin">Atribuir localização atual</a>
      </div>
       
    </ion-content>
</ion-view>