<ion-view id="login" >
  
  <ion-content padding="true" scroll="true" class="has-header" style="background-color: #D4E7FF;">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 70px;"></div>
      <div>
        <img src="../img/logo.png" style="display: block; width: 50%; height: 70%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input placeholder="E-mail" required="true" ng-model="user.email" type="text">
        </label>
        <label class="item item-input" id="login-input2">
          <input placeholder="Senha" required="true" ng-model="user.password" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a  id="login-button1" class="button button-balanced  button-block" ng-click="login()">Entrar</a>
      <a ui-sref="cadastro" id="login-button2" class="button button-positive  button-block button-clear">Cadastre-se</a>
    </form>
  </ion-content>
</ion-view>