<ion-view title="Status" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <form id="notificacoes-form5" class="list">
      <label class="item item-input" id="notificacoes-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
    </form>

    <ion-list>
      
      <ion-list-header color="Secondary">Minhas solicitações</ion-list-header>
      
      <div ng-repeat="array in listaAberta">
        <a class="item item-thumbnail-left" href="#">
          <img src="{{array.img || 'img/ionic.png'}}">
          <h2>{{array.endereco}}</h2>
          <p>{{array.detalhes}}</p>
        </a>
      
     <div ng-show="show" class="item item-button-right">
    Aceitar
    <button ng-click="enviarPendente(array,$index)" class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>

      </div>
      </br>
       <ion-list-header color="Secondary">Solicitações em andamento</ion-list-header>
      
      <div ng-repeat="array in listaPendente">
        <a class="item item-thumbnail-left" href="#">
          <img src="{{array.img || 'img/ionic.png'}}">
          <h2>{{array.endereco}}</h2>
          <p>{{array.detalhes}}</p>
        </a>
      </div>
      </br>
       <ion-list-header color="Secondary">Concluídas</ion-list-header>
      
      <div ng-repeat="array in listaFechada">
        <a class="item item-thumbnail-left" href="#">
          <img src="{{array.img || 'img/ionic.png'}}">
          <h2>{{array.endereco}}</h2>
          <p>{{array.detalhes}}</p>
        </a>
      </div>
      
    </ion-list>

   



  </ion-content>
</ion-view>